<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <h3><%= restaurant.name %></h3>
    <%= link_to 'See Details', restaurant_path(restaurant), class: "btn btn-primary" %>
    <li><%= restaurant.category.capitalize%></li>
    <li><%= restaurant.address%></li>
    <br>
  <% end %>
</ul>
